.logo {
    /* Box Model */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin: 0px 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    /* Typography */
    text-align: center;
}

.logo-link {
    /* Box Model */
    display: block;
    height: 60px;
    margin: 0;
    padding: 0;
    width: 200px;

    /* Typography */
    text-decoration: none;

    /* Transitions */
    transition: transform 0.2s ease;
}

.logo-link:hover {
    /* Transitions */
    transform: scale(1.1);
}

.logo-link img {
    /* Box Model */
    display: block;
    height: 100%;
    width: 100%;
}