.menu {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    top: -4px;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 0;
}

.menu-button img {
    width: 30px;
    height: 34px;
    background: white;
    vertical-align: middle;
    margin: 0;
}