.search-container {
    background: white;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    text-align: center;
    border-radius: 50px;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.search-form input[type="text"] {
    border: none;
    outline: none;
    width: 300px;
    padding: 6px;
    font-size: 17px;
    background: transparent;
    flex-grow: 1;
}

.search-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button img {
    height: 24px;
    width: 24px;
}

.hover-quote {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    white-space: nowrap;
    transform: translateX(109px) translateY(30px);
    left: 50%;
    text-align: center;
    margin-top: 8px;
}

.hover-quote::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    z-index: 1;
}

.search-button:hover .hover-quote {
    display: block;
}

.search-container {
    position: relative;
}