.search-container {
    float: left;
    display:flex;
    flex-direction:row;
}

.search-container input[type=text], .search-container button{
    border: none;
    margin-top: 8px;
    font-size: 17px;
}

.search-container input[type=text] {
    padding: 6px;
}

.search-container button {
    padding: 6px 10px;
    margin-right: 16px;
    background: #ddd;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

/* Responsive design for search bar */
@media screen and (max-width: 600px) {
    .search-container {
        float: none;
    }

    .search-container input[type=text], .search-container button {
        float: none;
        display: block;
        width: 100%;
        padding: 14px;
    }

    .search-container input[type=text] {
        border: 1px solid #ccc;  
    }
}