.settings {
    position: absolute;
    top: 20px;
    left: 85%;
    transform: translateX(-50%);
}

.setting-button {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.setting-button img {
    width: 30px;
    height: 30px;
}